@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Oswald&family=Yanone+Kaffeesatz:wght@400;700&display=swap');


:root {
    --font1: 'Yanone Kaffeesatz', sans-serif;
    --font2: 'Marck Script', cursive;
    --font3: 'Oswald', sans-serif;

    --color1: #00159E;
    --color2: #314AEB;
    --color3: #7285FF;
    --color4: #9E7C0B;
    --color5: #EBC031;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
}
header {
    background-color: var(--color1);
    padding: 20px 10px 20px 10px;
    color: white;
    font-family: var(--font1);
    text-align: center;
}
header h1 {
    font-size: 4em;
    font-weight: bolder;
    padding: 10px;
    
}
header p {
    font-size: 1.2em;
    max-width: 300px;
    padding: 10px;
    
}
main {
    margin: auto;
}